


h2{ 
    color: red;
    text-align: center;
    border: 10px rgb(55, 146, 67) groove;
    margin: 30px;
    background-color: rgb(144, 209, 144);
}
p{
    text-indent: 50px;
   

}
.destaque{
    color: orange;
    background-color: black;
    padding: 15px;

}
#principal{
    color: blue;
    font-size: 30px;
    border: red solid 1px;
    margin: 30px;
    padding: 20px;
}